.quizPage {
  width: 100%;
  height: 852px;
  position: relative;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  min-width: 393px;
  max-width: 393px;
  min-height: 852px;
  max-height: 852px;
  text-align: center;
  font-size: 32px;
  color: var(--color-black);
  font-family: var(--font-roboto);
}

.pageLabel {
  cursor: pointer;
  position: absolute;
  top: 128px;
  left: 17px;
  width: 366px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.questionContainer {
  margin-top: 80px;
  position: relative; 
}

.question {
  margin-bottom: 20px;
}

.answerOptions {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  position: absolute; 
  bottom: -50px; 
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 1; 
}

.selected {
  background-color: green;
  color: white;
}
