.questsPageTitle {
    text-align: left;
    font-size: 32px;
    align-self: stretch;
    position: relative;
    font-weight: 900;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
	font-size: var(--title-font-size);
	font-size: var(--title-font-size);
}
.pageLabel {
    cursor: pointer;
    position: absolute;
    top: 128px;
    left: 17px;
    width: 366px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.QuestsPage {
    width: 100%;
    height: 852px;
    position: relative;
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    overflow: hidden;
    min-width: 393px;
    max-width: 393px;
    min-height: 852px;
    max-height: 852px;
    color: var(--color-black);
    font-family: var(--font-roboto);
}
.QuestsPage.darkMode {
    background-color: var(--background-color-dark); /* Use dark mode background color */
    color: var(--text-color-dark); /* Use dark mode text color */
}
@media screen and (max-width: 1200px) {
    .QuestsPage {
        height: 852px;
        min-width: 393px;
        max-width: 393px;
        min-height: 852px;
        max-height: 852px;
    }
}

.questSection {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
}

.questTitle {
    text-align: left;
    font-size: var(--text-font-size);
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.89);
}

.questBlock {
    background: linear-gradient(90deg, #5a84af 0%, #335e61 100%);
    width: 90%; 
    margin-top: 5px;
    padding: 5px;
    border-radius: 25px;
}

.questBlockTitle {

}

.questBlockText{

}

.inProgressQuests {
    margin-top: 175px;
    background-color: rgb(127, 127, 127);
    display: block;
    padding: 5px;
    box-sizing: border-box; /* adds padding to width and height */
    border-radius: 15px 15px 0px 0px;
    font-size: smaller;
    color: white; /* Text color */
}

.availableQuests {
    background-color: rgb(149, 149, 153);
    display: block;
    padding: 5px;
    padding-bottom: 5x;
    box-sizing: border-box; /* adds padding to width and height */
    border-radius: 0px 0px 15px 15px;
    font-size: smaller;
    color: white; /* Text color*/
    margin-bottom: 5px;
}

.completedQuests {
    margin-top: 175px;
    background-color: rgb(13, 113, 163);
    display: block;
    padding: 5px;
    box-sizing: border-box; /* adds padding to width and height */
    border-radius: 15px 15px 0px 0px;
    font-size: smaller;
    color: white; /* Text color */   
    margin-bottom: 5px;
}

.button {
    background: #335e61 100%;
    color: white;
    padding: 3px 6px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--button-font-size);
    position: relative; 
}

.darkMode {
	background-color: var(--background-color-dark); /* Use dark mode background color */
	color: var(--text-color-dark); /* Use dark mode text color */
}