name: CI workflow
on:
  push:
  pull_request:
jobs:
    build:
        runs-on: ubuntu-latest
        container: python:3.9-slim
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Install dependencies
              run: |
                    python -m pip install --upgrade pip
                    pip install -r requirements.txt
            - name: Linting with Flake8
              run: |
                    flake8 src --count --select=E9,F63,F7,F82 --show-source --statistics
                    flake8 src --count --max-complexity=10 --max-line-length=127 --statistics
            - name: Testing coverage with Nodetests
              run: |
                    nosetests -v --with-spec --spec-color --with-coverage --cover-package=app

                    
