name: CI workflow
on:
  push:
  pull_request:
jobs:
    build:
        runs-on: ubuntu-latest    
        steps:
        - name: Checkout
          uses: actions/checkout@v3

        # Set up Node Version
        - name: Setup Node
          uses: actions/setup-node@v3.1.1
          with:
            node-version: v16.14.2
            cache: 'yarn'
            cache-dependency-path: app/yarn.lock  # <- This is needed for some reason, but the file is empty when I open it (Antonio)

        # Install yarn and npm
        - name: Install Dependencies
          run: |
               cd app
               yarn install  # <- yarn manages caching
               npm install
      
        # Print Coverage Report
        - name: Print coverage report
          run: |
            cd app
            npm run coverage

